$primary_color_1: #003459;
$primary_color_2: #012844;
$secondary_color_1: #F7DBA7;
$secondary_color_2: #e7c88e;
$secondary_color_3: #fffaf0;

$white: #fff;
$text: #001321;

// Định nghĩa biến màu
$color-yellow: #ffc737;
$color-blue: #257ae7;
$color-pink: #cba9b6;

// Biến cho màu nền card
$bg-yellow: rgba(255, 199, 55, 0.1);
$bg-blue: rgba(37, 122, 231, 0.1);
$bg-pink: rgba(203, 169, 182, 0.1);

// Variables
$icon-bg-color: #dff3fd;
$icon-size: 120px;
$icon-max-width: 45px;
$gap-size: 2rem;
$margin-top: 4rem;

//intro
$primary-color: #dcd7f8;
$text-dark: #3f3b57;
$text-light: #908ca3;
$max-width: 1200px;

// Variables review
$card_review_background: #fff;
$shadow_review_light: rgba(0, 0, 0, 0.1);
$shadow_review_hover: rgba(0, 0, 0, 0.15);
$star_review_color: #ffc107;
$text_review_primary: #333;
$text_review_secondary: #555;
$text_review_muted: #6c757d;
$border_review_color: #f0f0f0;
$placeholder_review_bg: #e9ecef;