<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/public/css/chat.css">
</head>

<body>
    <div class="wrapper2">
        <section class="form signup">
            <header>Chatt app</header>
            <form action="#">
                <div class="error-txt">This an error massage!</div>
                <div class="name-details">
                    <div class="field input">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First Name">
                    </div>
                    <div class="field input">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="Last Name">
                    </div>
                </div>
                <div class="field input">
                    <label for="">Email</label>
                    <input type="text" placeholder="Email">
                </div>
                <div class="field input">
                    <label for="">Password</label>
                    <input type="text" placeholder="Password">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field image">
                    <label for="">Image</label>
                    <input type="file">
                </div>
                <div class="field button">
                    <input type="submit" value="Submit">
                </div>
            </form>
            <div class="link">Already signed up <a href="#">Login now</a></div>

        </section>
    </div>
</body>

</html>