<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/public/css/chat.css">
</head>

<body>
    <div class="wrapper2">
        <section class="chat-area">
            <header>
                <a href="#" class="back-icon"><i class="fas fa-arrow-left"></i></a>
                <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                <div class="details">
                    <span>Coding Nepal</span>
                    <p>Active now</p>
                </div>
            </header>
            <div class="chat-box">
                <div class="chat outgoing">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat outgoing">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat outgoing">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div><div class="chat outgoing">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                    <div class="details">
                        <p>sufhuiehereuirhueihuirehurhufiherufheu</p>
                    </div>
                </div>
            </div>
            <form action="#" class="typing-area">
                <input type="text" placeholder="Type a message here.....">
                <button><i class="fa-duotone fa-solid fa-paper-plane"></i></button>
            </form>
        </section>
    </div>
</body>

</html>