<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="../../public/css/socila_media.css">
    <link rel="stylesheet" href="../../fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/chat.css">
    <!-- Swiper slider link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <!-- Navbar -->
     <nav class="nav nav_category">
        <div class="container nav_container">
            <div class="nav_left">
                <a href="/" class="nav_logo">
                    <img src="../../public/images/logo/logo.png" alt="PetShop Logo">
                </a>
                <ul class="nav_list">
                    <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
                    <li class="nav_item">
                        <a href="../../views/pages/category.html" class="nav_link">Category</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_link">Social Media</a>
                    </li>
                    <li class="nav_item"><a href="#" class="nav_link">About</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">Contact</a></li>
                </ul>
            </div>
            <div class="nav_right">
                <!-- Search Box -->
                <div class="search_box">
                    <input type="text" class="search_input" placeholder="Tìm kiếm post...">
                    <i class="fa-solid fa-search search_icon"></i>
                </div>
                
                <!-- Account Dropdown -->
                <div class="account_dropdown">
                    <button class="icon_btn account_btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <div class="notify_box">
                        <a href="#" class="auth_btn login">Đăng nhập</a>
                        <a href="#" class="auth_btn register">Đăng ký</a>
                    </div>
                </div>
                
                <!-- Cart -->
                <button class="icon_btn cart_btn">
                    <i class="fa-solid fa-shopping-cart"></i>
                    <span class="cart_badge">3</span>
                </button>
            </div>
        </div>
    </nav>

    <!-- Main section -->
    <main>
        <div class="container main-container">
            <div class="main-left">
                <!-- profile start -->
                <a class="profile">
                    <div class="profile-picture" id="my-profile-picture">
                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                    </div>
                    <div class="profile-handle">
                        <h4>Changgg</h4>
                        <p class="text-fry">
                            @changthuiii
                        </p>
                    </div>
                </a>
                <!-- profile end -->

                <!-- Aside bar -->
                <aside>
                    <a class="menu-item active">
                        <span><img src="../../public/svg/house-door.svg" alt=""></span>
                        <h3>Home</h3>
                    </a>

                    <a class="menu-item" id="Notify-box">
                        <span><img src="../../public/svg/bell.svg" alt=""></span>
                        <small class="notfy-counter" id="ntCounter">7+</small>
                        <h3>Notifications</h3>

                        <!-- notification box start -->
                        <div class="notification-box">
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n1.jpg" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n2.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> commentes your post
                                    <small class="text-gry"> 2 hours ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n3.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n4.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n5.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n5.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n5.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-picture">
                                    <img src="../../public/uploads/avatar/img/n5.png" alt="">
                                </div>
                                <div class="notification-body">
                                    <b>Thanhhh</b> accepted your firend request
                                    <small class="text-gry"> 1 day ago</small>
                                </div>
                            </div>
                        </div>
                        <!-- notification box end -->

                    </a>

                    <a class="menu-item">
                        <span><img src="../../public/svg/bookmarks.svg" alt=""></span>
                        <h3>Book Marks</h3>
                    </a>

                    <a class="menu-item" id="theme">
                        <span><img src="../../public/svg/palette.svg" alt=""></span>
                        <h3>Theme</h3>
                    </a>

                    <!-- Add post btn -->
                    <label for="add-post" class="btn btn-primary btn-lg" id="create-lg">Create a port</label>

                </aside>
            </div>
            <div class="main-middle">
                <div class="middle-container">
                    <!-- Stories -->
                    <!-- <div class="stories">
                        <div class="stories-wrapper swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="story swiper-slide">
                                    <img src="" alt="">
                                    <div class="profile-picture" id="my-profile-picture">
                                        <img src="/public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                    </div>
                                    <div class="add-story">
                                        <i class="fa fa-add"></i>
                                        <p>Add your <br> story</p>
                                    </div>

                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st1.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s1.jpg" alt="">
                                    </div>
                                    <p>Changggg</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st2.jpeg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s2.jpg" alt="">
                                    </div>
                                    <p>Haaa</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st3.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s3.jpg" alt="">
                                    </div>
                                    <p>Hunggg</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st4.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s4.jpg" alt="">
                                    </div>
                                    <p>Haiiii</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st4.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s4.jpg" alt="">
                                    </div>
                                    <p>Haiiii</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st4.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s4.jpg" alt="">
                                    </div>
                                    <p>Haiiii</p>
                                </div>
                                <div class="story swiper-slide">
                                    <img src="/public/uploads/avatar/img/st4.jpg" alt="">
                                    <div class="profile-picture">
                                        <img src="/public/uploads/avatar/img/s4.jpg" alt="">
                                    </div>
                                    <p>Haiiii</p>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!-- Stories end -->

                    <!-- post input -->
                    <form action="" class="add-post input-post">
                        <div class="profile-picture" id="my-profile-picture">
                            <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                        </div>
                        <input type="text" placeholder="What's on you mind?" id="add-post">
                        <input type="submit" value="post" class="btn btn-primary">
                    </form>

                    <!-- feed aria start -->
                    <div class="feeds">
                        <div class="feed my-feed">
                            <div class="feed-top">
                                <div class="user">
                                    <div class="profile-picture">
                                        <img src="../../public/uploads/avatar/img/st4.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h3>Adminnnn</h3>
                                        <div class="time text-gry">
                                            <small>Pakistan, <span>2 day ago</span></small>
                                        </div>
                                    </div>
                                </div>
                                <span class="edit">
                                    <img src="../../public/svg/three-dots.svg" alt="">
                                    <ul class="edit-menu">
                                        <li><i class="fa fa-pen"></i>Edit</li>
                                        <li><i class="fa-solid fa-trash"></i>Delete</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="feed-img">
                                <img src="../../public/uploads/avatar/img/feed1.jpeg" alt="">
                            </div>
                            <div class="action-button">
                                <div class="interaction-button">
                                    <span><i class="fa fa-heart"></i></span>
                                    <span><i class="fa fa-comment-dots"></i></span>
                                    <span><i class="fa-solid fa-link"></i></span>
                                </div>
                                <div class="bookmark">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="../../public/uploads/avatar/img/n2.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n3.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n4.png" alt=""></span>
                                <p><b>Jhon Wiliams</b>and <b>77 comments other</b></p>
                            </div>

                            <!-- caption -->
                            <div class="capton">
                                <p><b>Lana white </b>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="hars-tag">#lifestyle</span>
                                </p>
                            </div>

                            <!-- comment -->
                            <div class="comments text-gry">
                                View all comments
                            </div>
                        </div>
                        <div class="feed">
                            <div class="feed-top">
                                <div class="user">
                                    <div class="profile-picture">
                                        <img src="../../public/uploads/avatar/img/st4.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h3>Adminnnn</h3>
                                        <div class="time text-gry">
                                            <small>Pakistan, <span>2 day ago</span></small>
                                        </div>
                                    </div>
                                </div>
                                <span class="edit">
                                    <img src="../../public/svg/three-dots.svg" alt="">
                                </span>
                            </div>
                            <div class="feed-img">
                                <h2>Hello World, I'm Irfan <br>
                                    from pakistan</h2>
                            </div>
                            <div class="action-button">
                                <div class="interaction-button">
                                    <span><i class="fa fa-heart"></i></span>
                                    <span><i class="fa fa-comment-dots"></i></span>
                                    <span><i class="fa-solid fa-link"></i></span>
                                </div>
                                <div class="bookmark">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="../../public/uploads/avatar/img/n2.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n3.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n4.png" alt=""></span>
                                <p><b>Jhon Wiliams</b>and <b>77 comments other</b></p>
                            </div>

                            <!-- caption -->
                            <div class="capton">
                                <p><b>Lana white </b>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="hars-tag">#lifestyle</span>
                                </p>
                            </div>

                            <!-- comment -->
                            <div class="comments text-gry">
                                View all comments
                            </div>
                        </div>
                        <div class="feed">
                            <div class="feed-top">
                                <div class="user">
                                    <div class="profile-picture">
                                        <img src="../../public/uploads/avatar/img/st4.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <h3>Adminnnn</h3>
                                        <div class="time text-gry">
                                            <small>Pakistan, <span>2 day ago</span></small>
                                        </div>
                                    </div>
                                </div>
                                <span class="edit">
                                    <img src="../../public/svg/three-dots.svg" alt="">
                                </span>
                            </div>
                            <div class="feed-img">
                                <img src="../../public/uploads/avatar/img/feed1.jpeg" alt="">
                            </div>
                            <div class="action-button">
                                <div class="interaction-button">
                                    <span><i class="fa fa-heart"></i></span>
                                    <span><i class="fa fa-comment-dots"></i></span>
                                    <span><i class="fa-solid fa-link"></i></span>
                                </div>
                                <div class="bookmark">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="../../public/uploads/avatar/img/n2.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n3.png" alt=""></span>
                                <span><img src="../../public/uploads/avatar/img/n4.png" alt=""></span>
                                <p><b>Jhon Wiliams</b>and <b>77 comments other</b></p>
                            </div>

                            <!-- caption -->
                            <div class="capton">
                                <p><b>Lana white </b>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="hars-tag">#lifestyle</span>
                                </p>
                            </div>

                            <!-- comment -->
                            <div class="comments text-gry">
                                View all comments
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="main-right">
                <!-- Start Message -->
                <div class="messages">
                    <div class="wrapper2">
                        <section class="users">
                            <header>
                                <div class="content">
                                    <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                    <div class="details">
                                        <span>Coding Nepal</span>
                                        <p>Active now</p>
                                    </div>
                                </div>
                                <a href="#" class="logout"> Logout</a>
                            </header>
                            <div class="search">
                                <span class="text"></span>
                                <input type="text" placeholder="Enter name to search...">
                                <button><i class="fas fa-search"></i></button>
                            </div>
                            <div class="users-list">
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="content">
                                        <img src="../../public/uploads/avatar/KH001_1742482686.jpg" alt="">
                                        <div class="details">
                                            <span>Coding Nepal</span>
                                            <p>This is test message</p>
                                        </div>
                                    </div>
                                    <div class="status-dot">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- end Message -->
            </div>
        </div>
    </main>

    <!-- Add post popup -->
    <div class="popup add-post-popup">
        <div>
            <form action="" class="popup-box add-post-popup">
                <h1>Add New Post</h1>
                <div class="row post-title">
                    <label for="">Title</label>
                    <input type="text" id="add-post" placeholder="What's your on mind?">
                </div>
                <div class="row post-img">
                    <img src="" id="postIMG">
                    <label for="feed-pic-upload" class="feed-upload-button">
                        <span><i class="fa fa-add"></i></span>
                        Upload a picture
                    </label>
                    <input type="file" accept="image/jpg, image/png, image/ipeg" id="feed-pic-upload">
                    <input type="submit" class="btn btn-primary btn-lg" value="Add post">
                </div>
            </form>
            <span class="close"><i class="fa-regular fa-circle-xmark"></i></span>
        </div>
    </div>

    <!-- theme customize Popup -->
    <div class="popup theme-customize">
        <div>
            <div class="popup-box theme-customize-popup-box">
                <h2>Customize Your Theme</h2>
                <p>Manege Your Font Size, Color and Background</p>

                <!-- Font size -->
                <div class="font-size">
                    <h4>Font Size</h4>
                    <div>
                        <div>
                            <h6>Aa</h6>
                        </div>
                        <div class="choose-size">
                            <span class="font-size-1"></span>
                            <span class="font-size-2 active"></span>
                            <span class="font-size-3"></span>
                            <span class="font-size-4"></span>
                            <span class="font-size-5"></span>
                        </div>
                        <div>
                            <h3>Aa</h3>
                        </div>
                    </div>
                </div>
                <!-- primary color -->
                <div class="colors">
                    <h4>Color</h4>
                    <div class="choose-color">
                        <span class="color-1"></span>
                        <span class="color-2"></span>
                        <span class="color-3"></span>
                        <span class="color-4"></span>
                        <span class="color-5"></span>
                    </div>
                </div>
                <!-- Background color -->
                <div class="background">
                    <h4>Background</h4>
                    <div class="choose-bg">
                        <div class="bg1 active">
                            <span></span>
                            <h5>Light</h5>
                        </div>
                        <div class="bg2">
                            <span></span>
                            <h5>Dark</h5>
                        </div>
                    </div>
                </div>
            </div>
            <span class="close"><i class="fa-regular fa-circle-xmark"></i></span>
        </div>
    </div>

    <!-- link swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- link JS -->
    <script src="../../public/js/socila_media.js"></script>
</body>

</html>